<style>
  body {
      font-family: Arial, sans-serif;
  }
  nav {
      background-color: #0074D9;
      color: #FFF;
      padding: 10px;
  }
  nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }
  nav ul li {
      display: inline-block;
      margin-right: 20px;
  }
  /* Estilos para os filtros */
  .filters {
      margin-top: 20px;
  }
  .filters select, .filters input[type="text"] {
      margin-right: 10px;
  }
  table {
      width: 100%;
      border-collapse: collapse;
  }
  th, td {
      border: 1px solid #DDD;
      padding: 10px;
      text-align: center;
  }
  th {
      background-color: #F0F0F0;
  }

</style>


<div class="filters  mt-4">
  <form class="form-inline">
    <div class="form-group mb-2 mr-2">
      <label for="region" class="mr-2">Region:</label>
      <select id="region" name="region" class="form-control">
        <option value="">Todos</option>
        <option value="Baixo">Índico</option>
        <option value="Medio">Atlântico Norte</option>
        <option value="Alto">Pacífico Norte</option>
      </select>
    </div>

    <div class="form-group mb-2 mr-2">
      <label for="species" class="mr-2">Species:</label>
      <select id="species" name="species" class="form-control">
        <option value="">Todos</option>
        <option value="Tartaruga-verde">Tartaruga-verde</option>
        <option value="Tubarao-branco">Tubarão-branco</option>
        <option value="Coral">Coral</option>
        <option value="Baleia-azul">Baleia-azul</option>
        <option value="Peixe-palhaco">Peixe-palhaço</option>

      </select>
    </div>

    <div class="form-group mb-2 mr-2">
      <label for="conservation-status" class="mr-2">Conservation Status:</label>
      <select id="conservation-status" name="conservation_status" class="form-control">
        <option value="">Todos</option>
        <option value="Ameacada">Ameaçada</option>
        <option value="Vulneravel">Vulnerável</option>
        <option value="Criticamente-ameacado">Criticamente ameaçado</option>
        <option value="Menos-preocupante">Menos preocupante</option>
      </select>
    </div>

    <div class="form-group mb-2 mr-2">
      <label for="water-temperature-min" class="mr-2">Water Temperature (min):</label>
      <input type="text" id="water-temperature-min" name="water_temperature_min" class="form-control">
    </div>

    <div class="form-group mb-2 mr-2">
      <label for="water-temperature-max" class="mr-2">Water Temperature (max):</label>
      <input type="text" id="water-temperature-max" name="water_temperature_max" class="form-control">
    </div>

    <div class="form-group mb-2 mr-2">
      <label for="ph-min" class="mr-2">pH (min):</label>
      <input type="text" id="ph-min" name="ph_min" class="form-control">
    </div>

    <div class="form-group mb-2 mr-2">
      <label for="ph-max" class="mr-2">pH (max):</label>
      <input type="text" id="ph-max" name="ph_max" class="form-control">
    </div>

    <div class="form-group mb-2 mr-2">
      <label for="pollution-levels" class="mr-2">Pollution Levels:</label>
      <select id="pollution-levels" name="pollution_levels" class="form-control">
        <option value="">Todos</option>
        <option value="Baixo">Baixo</option>
        <option value="Medio">Médio</option>
        <option value="Alto">Alto</option>
      </select>
    </div>

    <div class="form-group mb-2">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</div>


<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<table class="table table-info table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Região</th>
      <th>Temperatura da Água</th>
      <th>pH</th>
      <th>Nível de Poluição</th>
      <th>Nome da Espécie</th>
      <th>Status da Espécie</th>
      <th>Nome do Projeto de Conservação</th>
      <th>Tipo do Projeto de Conservação</th>
      <th>Tipo de Participação</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of dados">
      <td>{{ item.regiao }}</td>
      <td>{{ item.temperaturaAgua }}</td>
      <td>{{ item.pH }}</td>
      <td>{{ item.nivelPoluicao }}</td>
      <td>
        <ul class="list-unstyled">
          <li *ngFor="let especie of item.especies">{{ especie.nome }} <br><br> </li>
        </ul>
      </td>
      <td>
        <ul class="list-unstyled">
          <li *ngFor="let especie of item.especies">{{ especie.status }} <br><br></li>
        </ul>
      </td>
      <td>
        <ul class="list-unstyled">
          <li *ngFor="let projeto of item.projetosConservacao">{{ projeto.nomeProjeto }} <br><br></li>
        </ul>
      </td>
      <td>
        <ul class="list-unstyled">
          <li *ngFor="let projeto of item.projetosConservacao">{{ projeto.tipoProjeto }} <br><br></li>
        </ul>
      </td>
      <td>
        <ul class="list-unstyled">
          <li *ngFor="let projeto of item.projetosConservacao">{{ projeto.tipoParticipacao }} <br><br></li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>


