<style>
  body {
      font-family: Arial, sans-serif;
  }
  nav {
      background-color: #0074D9;
      color: #FFF;
      padding: 10px;
  }
  nav ul {
      list-style: none;
      margin: 0;
      padding: 0;
  }
  nav ul li {
      display: inline-block;
      margin-right: 20px;
  }
  /* Estilos para os filtros */
  .filters {
      margin-top: 20px;
  }
  .filters select, .filters input[type="text"] {
      margin-right: 10px;
  }
  table {
      width: 100%;
      border-collapse: collapse;
  }
  th, td {
      border: 1px solid #DDD;
      padding: 10px;
      text-align: center;
  }
  th {
      background-color: #F0F0F0;
  }

</style>

<div class="filters mt-4">
  <form [formGroup]="dadosForm" (ngSubmit)="onSubmit()" class="form-inline">
   
   <div>

   
    <div class="form-group mb-2 mr-2">
      <label for="region" class="mr-2">Região:</label>
      <select id="region" formControlName="region" class="form-control">
        <option value="">Todos</option>
        <option value="regiao=%C3%8Dndico&">Índico</option>
        <option value="regiao=Atl%C3%A2ntico%20Norte&">Atlântico Norte</option>
        <option value="regiao=Atl%C3%A2ntico%20Sul">Atlântico Sul</option>
        <option value="regiao=Pac%C3%ADfico%20Norte&">Pacífico Norte</option>
      </select>
    </div>

    <div class="form-group mb-2 mr-2">
      <label for="species" class="mr-2">Especies:</label>
      <select id="species" formControlName="species" class="form-control">
        <option value="">Todos</option>
        <option value="especie=Tartaruga-verde&">Tartaruga-verde</option>
        <option value="especie=Tubar%C3%A3o-branco&">Tubarão-branco</option>
        <option value="especie=Coral&">Coral</option>
        <option value="especie=Baleia-azul&">Baleia-azul</option>
        <option value="especie=Peixe-palha%C3%A7o&">Peixe-palhaço</option>
      </select>
    </div>

  </div>

    <div>

    
    <div class="form-group mb-2 mr-2">
      <label for="conservation-status" class="mr-2">Status de conservação:</label>
      <select id="conservation-status" formControlName="conservationStatus" class="form-control">
        <option value="">Todos</option>
        <option value="statusConservacao=Amea%C3%A7ada&">Ameaçada</option>
        <option value="statusConservacao=Vulner%C3%A1vel&">Vulnerável</option>
        <option value="statusConservacao=Criticamente%20amea%C3%A7ado&">Criticamente ameaçado</option>
        <option value="statusConservacao=Menos%20preocupante&">Menos preocupante</option>
      </select>
    </div>
    <div class="form-group mb-2 mr-2">
      <label for="pollution-levels" class="mr-2">Nível de Poluição:</label>
      <select id="pollution-levels" formControlName="pollutionLevels" class="form-control pe-5">
        <option value="">Todos</option>
        <option value="nivelPoluicao=Baixo&">Baixo</option>
        <option value="nivelPoluicao=Moderado&">Moderado</option>
        <option value="nivelPoluicao=Alto&">Alto</option>
      </select>
    </div>
  </div>
  

  <div>
    
    <div>

    
  </div>

    <div class="form-group mb-2 mr-2">
      <label for="water-temperature-min" class="mr-2">Temperatura da água (min):</label>
      <input type="number" id="water-temperature-min" formControlName="waterTemperatureMin" class="form-control">
    </div>

    <div class="form-group mb-2 mr-2">
      <label for="water-temperature-max" class="mr-2">Temperatura da água (max):</label>
      <input type="number" id="water-temperature-max" formControlName="waterTemperatureMax" class="form-control">
    </div>
    
  </div>

  <div>

  
    <div class="form-group mb-2 mr-2">
      <label for="ph-min" class="mr-2">pH (min):</label>
      <input type="number" id="ph-min" formControlName="phMin" class="form-control">
    </div>

    <div class="form-group mb-2 mr-2">
      <label for="ph-max" class="mr-2">pH (max):</label>
      <input type="number" id="ph-max" formControlName="phMax" class="form-control">
    </div>
  </div>

   

  </form>
</div>





<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<table class="table table-info table-bordered container">
  <thead class="thead-dark">
    <tr>
      <th>Região</th>
      <th>Temperatura da Água</th>
      <th>pH</th>
      <th>Nível de Poluição</th>
      <th>Nome da Espécie</th>
      <th>Status de conservação da Espécie</th>
      <th>Nome do Projeto de Conservação</th>
      <th>Tipo do Projeto de Conservação</th>
      <th>Tipo de Participação</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of dados">
      <td>{{ item.regiao }}</td>
      <td>{{ item.temperaturaAgua }}</td>
      <td>{{ item.pH }}</td>
      <td>{{ item.nivelPoluicao }}</td>
      <td>
        <ul class="list-unstyled">
          <li *ngFor="let especie of item.especies">{{ especie.nome }} <br><br> </li>
        </ul>
      </td>
      <td>
        <ul class="list-unstyled">
          <li *ngFor="let especie of item.especies">{{ especie.status }} <br><br></li>
        </ul>
      </td>
      <td>
        <ul class="list-unstyled">
          <li *ngFor="let projeto of item.projetosConservacao">{{ projeto.nomeProjeto }} <br><br></li>
        </ul>
      </td>
      <td>
        <ul class="list-unstyled">
          <li *ngFor="let projeto of item.projetosConservacao">{{ projeto.tipoProjeto }} <br><br></li>
        </ul>
      </td>
      <td>
        <ul class="list-unstyled">
          <li *ngFor="let projeto of item.projetosConservacao">{{ projeto.tipoParticipacao }} <br><br></li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>


